/* @keyframes ba {
  0% {background-position: 0 0;}
  100% {background-position: 0 1075px;}
}
@keyframes be {
  0% {background-position: 0 0;}
  100% {background-position: 374px 0px;}
} */

@keyframes ba {
    from { background-position: 0 50%; }
      to { background-position: 0 -250%; }
}
@keyframes be {
  from { background-position: 57% 0; }
    to { background-position: -246% 0; }
}
@keyframes vertical {
  from { background-position: 0 50%; }
    to { background-position: 0 -65%; }
}
.aaaa {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
height: 3.1vw;
background-position: 0% 50%;
background-size: 218% 697%;
z-index: 200;
animation: vertical 4s infinite;
top: 0%;
right: 26.9%;
left: 64.7%;
opacity: 1;
}
.aaaa2 {
  position: absolute;
  background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
height: 3.1vw;
background-position: 0% 50%;
background-size: 218% 697%;
z-index: 200;
animation: vertical 4s infinite;
top: 0%;
right: 43.9%;
left: 42.7%;
opacity: 1;
}
.aaaa3 {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
height: 3.1vw;
background-position: 0 0;
z-index: 200;
animation: vertical 4s infinite;
background-position: 0% 50%;
background-size: 218% 697%;
right: 36.2%;
left: 52.5%;
top: 0%;
opacity: 1;
}
.sort:hover .aaaa {
  opacity: 0.3;
}
.sort:hover .aaaa2 {
  opacity: 0.3;
}
.sort:hover .aaaa3 {
  opacity: 0.3;
}
.sort:hover .response {
  opacity: 1;
}
.sort:hover .response2 {
  opacity: 1;
}
.sort:hover .response3 {
  opacity: 1;
}
.sort:hover .response4 {
  opacity: 1;
}
.sort:hover .response5 {
  opacity: 1;
}
.sort:hover .response6 {
  opacity: 1;
}




.a {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
/* height: 84.1vw; */
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 2;
animation: ba 4s infinite;
top: 0.7%;
bottom: 87%;
left: 47.7%;
right: 47.7%;
}
.b {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  /* top: 12.45%; */
  left: 47.7%;
  bottom: 86.9%;
  right: 18.7%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.c {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 13%;
bottom: 82.85%;
left: 76.80%;
right: 18.7%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.d {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  left: 52.1%;
  height: 4.66vw;
  right: 18.7%;
  bottom: 82.85%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  animation-direction: reverse;
  z-index: 2;
}
.e {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 2;
animation: ba 4s infinite;
top: 17.9%;
bottom: 75%;
left: 17.5%;
right: 77.97%;
}
.f {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  left: 17.5%;
  right: 61%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
  bottom: 75%;
  height: 4.66vw;
}
.g {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 24.5%;
left: 34.2%;
right: 61%;
bottom: 74%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.h {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 73.5%;
  left: 9.4%;
  right: 61%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.i {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
bottom: 65.2%;
top: 26%;
left: 9.4%;
right: 86.1%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.j {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 65.2%;
  left: 9.4%;
  right: 60%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.k {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 2;
animation: ba 4s infinite;
top: 34%;
bottom: 54.2%;
right: 45.97%;
left: 49.5%;
}
.l {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 54.2%;
  left: 30%;
  right: 45.97%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.m {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 45.5%;
bottom: 49.5%;
left: 30%;
right: 65.5%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.n {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 49.5%;
  left: 30%;
  right: 36.6%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.o {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 50%;
bottom: 44%;
left: 58.9%;
right: 36.6%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.p {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 44%;
  left: 0%;
  right: 36.6%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.q {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 55.5%;
bottom: 31.5%;
left: 0%;
right: 95.08%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.r {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 31.5%;
  left: 0%;
  right: 28.2%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.s {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 59%;
bottom: 31.5%;
left: 67.3%;
right: 28.2%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.t {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 40.5%;
  left: 67.3%;
  right: 0%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.u {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 59%;
left: 95.0%;
bottom: 25.6%;
right: 0%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.v {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
height: 4.66vw;
  bottom: 25.6%;
  left: 59.2%;
  right: 0%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.w {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 74%;
bottom: 23.5%;
left: 59.2%;
right: 36.27%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.ac {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
  height: 4.66vw;
  bottom: 23.5%;
  left: 59.2%;
  right: 26.2%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.ad {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
top: 76%;
bottom: 10.8%;
left: 69.3%;
right: 26.2%;
background-position: 0% 50%;
background-size: 150% 150%;
z-index: 1;
animation: ba 4s infinite;
}
.ae {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  height: 4.66vw;
height: 4.66vw;
  bottom: 10.8%;
  left: 48.4%;
  right: 26.2%;
  background-position: 57% 0%;
  background-size: 150% 150%;
  animation: be 4s infinite;
  z-index: 2;
}
.af {
  position: absolute;
  background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,205,0,1) 13%, rgba(255,0,184,1) 50%, rgba(255,205,0,1) 87%, rgba(255,205,0,1) 100%);
  top: 88.8%;
  bottom: 5%;
  left: 48.4%;
  right: 47.07%;
  background-position: 0% 50%;
  background-size: 150% 150%;
  z-index: 1;
  animation: ba 4s infinite;
}
