@keyframes ba {
  0% {background-position: 0 0;}
  100% {background-position: 0 1075px;}
}
@keyframes be {
  0% {background-position: 0 0;}
  100% {background-position: 374px 0px;}
}
.sdohlacont {
  position: absolute;
  top: 69%;
  width: 434px;
  height: 552px;
  overflow: hidden;
  left: 5%;

}
.sdohlacont2 {
  position: absolute;
  top: 50.5%;
  width: 434px;
  height: 552px;
  overflow: hidden;
  right: 1%;
  transform: rotate(180deg);
}
.sdohlacont3 {
  position: absolute;
  top: 19.5%;
  width: 434px;
  height: 552px;
  overflow: hidden;
  right: 39%;
  transform: rotate(90deg);
}

.sdohla {
  position: absolute;
top: 0px;
left: 0px;
animation: mew 0.7s steps(1) alternate infinite;}
@keyframes mew {
  0% {left: 0px;}
  25% {left: -434px;}
  50% {left: -868px;}
  75% {left: -1302px;}
}
.littlecont {
  position: absolute;
  top: 74.5%;
  width: 258px;
  height: 332px;
  overflow: hidden;
  left: 43%;
  transform: rotate(180deg);
}
.little {
  position: absolute;
top: 0px;
left: 0px;
animation: pew 0.6s steps(1) alternate infinite;
}
.littlecont2 {
  position: absolute;
  top: 27.55%;
  width: 258px;
  height: 332px;
  overflow: hidden;
  left: 16%;
  transform: rotate(180deg);
}
@keyframes pew {
  0% {left: 0px;}
  25% {left: -258px;}
  50% {left: -516px;}
  75% {left: -774px;}
}

/* .sprite {
  position: absolute;
  width: 289px;
  height: 255px;
  background: url('images/sprite.svg');
  background-position: 0px 0px;
  background-size: auto;
  z-index: 200;
} */
.three {
  position: absolute;
top: 0px;
left: 0px;
animation: ohh 0.7s steps(1) alternate infinite;
}
@keyframes ohh {
  0% {left: 0px;}
  20% {left: -289px;}
  40% {left: -578px;}
  60% {left: -867px;}
  80% {left: -1156px;}
}

.two {
  position: absolute;
top: 0px;
left: 0px;
animation: ohh 0.7s steps(1) alternate infinite;
}
@keyframes ohh {
  0% {left: 0px;}
  20% {left: -289px;}
  40% {left: -578px;}
  60% {left: -867px;}
  80% {left: -1156px;}
}
.sprite3 {
  position: absolute;
  top: 29.4%;
  width: 289px;
  height: 255px;
  overflow: hidden;
  right: 29%;
}
.bleach {
  position: absolute;
  top: 0.3%;
  width: 596px;
  height: 530px;
  overflow: hidden;
  left: 9%;
  z-index: 200;
}
@keyframes uhh {
  0% {left: 0px;}
  20% {left: -596px;}
  40% {left: -1191px;}
  60% {left: -1787px;}
  80% {left: -2383px;}
}
.name {
  position: absolute;
top: 0px;
left: 0px;
animation: uhh 0.7s steps(1) alternate infinite;
}
.bag {
  position: absolute;
  top: 0.2%;
  width: 548px;
  height: 530px;
  overflow: hidden;
  right: 0%;
}
@keyframes uhh {
  0% {left: 0px;}
  20% {left: -596px;}
  40% {left: -1191px;}
  60% {left: -1787px;}
  80% {left: -2383px;}
}
.name2 {
  position: absolute;
top: 0px;
left: 0px;
animation: uhh 0.7s steps(1) alternate infinite;
}
.one {
  position: absolute;
top: 0px;
left: 0px;
animation: ohh 0.7s steps(1) alternate infinite;
}
@keyframes ohh {
  0% {left: 0px;}
  20% {left: -289px;}
  40% {left: -578px;}
  60% {left: -867px;}
  80% {left: -1156px;}
}

.aaaa {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
height: 3.1vw;
background-position: 0 0;
z-index: 200;
animation: ba 30s infinite;
background-size: 100% 100%;
top: 0%;
right: 26.9%;
left: 64.7%;
opacity: 1;
}
.aaaa2 {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
height: 3.1vw;
background-position: 0 0;
z-index: 200;
animation: ba 30s infinite;
background-size: 100% 100%;
top: 0%;
right: 43.9%;
left: 42.7%;
opacity: 1;
}
.aaaa3 {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
height: 3.1vw;
background-position: 0 0;
z-index: 200;
animation: ba 30s infinite;
background-size: 100% 100%;
right: 36.2%;
left: 52.5%;
top: 0%;
opacity: 1;
}
.sort:hover .aaaa {
  opacity: 0.3;
}
.sort:hover .aaaa2 {
  opacity: 0.3;
}
.sort:hover .aaaa3 {
  opacity: 0.3;
}
.sort:hover .squares {
  opacity: 1;
}
.sort:hover .squares2 {
  opacity: 1;
}
.sort:hover .squares3 {
  opacity: 1;
}
.squares3 {
  position: absolute;
  left: -42%;
  opacity: 0;
  top: 0%;
  height: 3.1vw;

}
.squares2 {
  position: absolute;
  left: -72%;
  top: 0%;
  opacity: 0;
  height: 3.1vw;
}
.squares {
  position: absolute;
  left: -5.6%;
  top: 0%;
  opacity: 0;
  height: 3.1vw;
}
.square {
  position: absolute;
  left: 476px;
  width: 14.5px;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step1 1s alternate infinite;
}
@keyframes step1 {
  0% {left: 491px;}
  100% {left: 476px;}
}
@keyframes step2 {
  0% {left: 491px;}
  100% {left: 461px;}
}

.square2 {
  position: absolute;
  left: 461px;
  top: 12.7px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step2 1s alternate infinite;
}
.square3 {
  position: absolute;
  left: 491px;
  top: 25.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step1 1s alternate infinite;
}
.square4 {
  position: absolute;
  left: 506.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step3 1s alternate infinite;
}

@keyframes step3 {
  0% {left: 506.4px;}
  100% {left: 446.4px;}
}
.square5 {
  position: absolute;
  left: 506.4px;
  top: 12.7px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step4 1s alternate infinite;
}
@keyframes step4 {
  0% {left: 506.4px;}
  100% {left: 431.4px;}
}

.square6 {
  position: absolute;
  left: 506.4px;
  top: 25.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step3 1s alternate infinite;
}
.square7 {
  position: absolute;
  left: 521.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step6 1s alternate infinite;
}
.square8 {
  position: absolute;
  left: 521.4px;
  top: 12.7px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step5 1s alternate infinite;
}
@keyframes step5 {
  0% {left: 521.4px;}
  100% {left: 593.4px;}
}
.square9 {
  position: absolute;
  left: 521.4px;
  top: 25.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step6 1s alternate infinite;
}
@keyframes step6 {
  0% {left: 521.4px;}
  100% {left: 579.4px;}
}
.square10 {
  position: absolute;
  left: 535px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step7 1s alternate infinite;
}
@keyframes step7 {
  0% {left: 535px;}
  100% {left: 549px;}
}
.square11 {
  position: absolute;
  left: 535px;
  top: 12.7px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step8 1s alternate infinite;
}
@keyframes step8 {
  0% {left: 535px;}
  100% {left: 564px;}
}
.square12 {
  position: absolute;
  left: 535px;
  top: 25.4px;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #FFCD00;
  animation: step7 1s alternate infinite;
}
@keyframes step7 {
  0% {left: 535px;}
  100% {left: 549px;}
}
.candyline {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
background-position: 0 0;
z-index: 200;
animation: ba 2.5s infinite;
background-size: 100% 100%;
top: 65.9%;
bottom: 2%;
left:  48.7%;
right: 45.2%;
opacity: 1;
}
.candy {
  position: absolute;
  top: 65.9%;
  bottom: 2%;
  left:  48.7%;
  right: 45.2%;
  overflow: hidden;
  opacity: 0;
}
.deskbowl img:hover ~ .candy {
  opacity: 1;
}
.deskbowl img:hover ~ .candyline {
  opacity: 0.3;
}
.candy1 {
  position: absolute;
  top: -40%;
  animation: candybig 1s linear infinite;
}
.candy4 {
  position: absolute;
  top: -40%;
  left: 54%;
  animation: candybig 1.2s linear infinite;
}
.candy2 {
  position: absolute;
  top: -40%;
  left: 54%;
  animation: candybig 1.5s linear infinite;
  animation-delay: 1s;
}
.candy3 {
  position: absolute;
  top: -40%;
  left: 0%;
  animation: candybig 1.8s linear infinite;
  animation-delay: 0.3s;
}
@keyframes candybig {
0% {
  top: -40%
}
100% {
  top: 100%;
}
}
.kitchenline {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
height: 4.66vw;
  bottom: 82.85%;
  left: 22%;
  right: 29.6%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 3s infinite;
  animation-direction: reverse;
  z-index: 20;
  opacity: 1;
}
.kitchenline2 {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
background-position: 0 0;
z-index: 200;
animation: ba 10s infinite;
background-size: 100% 100%;
top: 16.46%;
left: 17.5%;
right: 77.97%;
bottom: 80.1%;
opacity: 1;
}
.a {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
/* height: 84.1vw; */
background-position: 0 0;
z-index: 2;
animation: ba 2.5s infinite;
background-size: 100% 100%;
top: 78px;
bottom: 87%;
left: 47.7%;
right: 47.7%;
}
.b {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  /* top: 12.45%; */
  left: 47.7%;
  bottom: 86.9%;
  right: 18.7%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.c {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 13%;
bottom: 82.85%;
left: 76.80%;
right: 18.7%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.d {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  left: 52.1%;
  height: 4.66vw;
  right: 18.7%;
  bottom: 82.85%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 3s infinite;
  animation-direction: reverse;
  z-index: 2;
}
.e {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
background-position: 0 0;
z-index: 2;
animation: ba 2.5s infinite;
background-size: 100% 100%;
top: 19.9%;
bottom: 74%;
left: 17.5%;
right: 77.97%;
}
.f {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  left: 17.5%;
  right: 10.23%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
  bottom: 74%;
  height: 4.66vw;
}
.g {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 25.5%;
left: 85.2%;
right: 10.23%;
bottom: 73%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.h {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 72.5%;
  left: 9.4%;
  right: 10.23%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.i {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
bottom: 65.2%;
top: 27%;
left: 9.4%;
right: 86.1%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.j {
  position: absolute;
  width: 400px;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 65.2%;
  left: 9.4%;
  right: 60%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.k {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
background-position: 0 0;
z-index: 2;
animation: ba 2.5s infinite;
background-size: 100% 100%;
top: 34%;
bottom: 54.2%;
right: 45.97%;
left: 49.5%;
}
.l {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 54.2%;
  left: 49.5%;
  right: 17.5%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.m {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 45.5%;
bottom: 49.5%;
left: 78%;
right: 17.5%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.n {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 49.5%;
  left: 58.9%;
  right: 17.5%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.o {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 50%;
bottom: 44%;
left: 58.9%;
right: 36.6%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.p {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 44%;
  left: 0%;
  right: 36.6%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.q {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 55.5%;
bottom: 31.5%;
left: 0%;
right: 95.08%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.r {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 31.5%;
  left: 0%;
  right: 28.2%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.s {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 59%;
bottom: 31.5%;
left: 67.3%;
right: 28.2%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.t {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 40.5%;
  left: 67.3%;
  right: 0%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.u {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 59%;
left: 95.0%;
bottom: 25.6%;
right: 0%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.v {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
height: 4.66vw;
  bottom: 25.6%;
  left: 35.2%;
  right: 0%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.w {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 74%;
bottom: 21.1%;
left: 35.2%;
right: 60.27%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.ac {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
  height: 4.66vw;
  bottom: 20.5%;
  left: 35.2%;
  right: 26.2%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.ad {
  position: absolute;
background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
top: 79%;
bottom: 10.8%;
left: 69.3%;
right: 26.2%;
background-position: 0 0;
z-index: 1;
animation: ba 8s infinite;
background-size: 100% 100%;
}
.ae {
  position: absolute;
background: linear-gradient(-90deg, rgba(255,205,0,1) 0%, rgba(255,0,229,1) 52%, rgba(255,205,0,1) 94%);
height: 4.66vw;
  bottom: 10.8%;
  left: 48.4%;
  right: 26.2%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation: be 6s infinite;
  z-index: 2;
}
.af {
  position: absolute;
  background: linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(255,0,184,1) 52%, rgba(255,205,0,1) 94%);
  top: 88.8%;
  bottom: 5%;
  left: 48.4%;
  right: 47.07%;
  background-position: 0 0;
  z-index: 1;
  animation: ba 8s infinite;
  background-size: 100% 100%;
}
